In [1]:
#!pip install requests
#!pip install tqdm

In [2]:
import requests as rq

In [3]:
import pandas as pd

In [19]:
from tqdm import tqdm

In [5]:
response = rq.get("https://api.mfapi.in/mf")

In [6]:
response

In [7]:
all_mf = response.json()

In [2]:
all_mf

In [9]:
type(all_mf)

list

In [10]:
all_mf[0]

{'schemeCode': 100027,
 'schemeName': 'Grindlays Super Saver Income Fund-GSSIF-Half Yearly Dividend'}

In [11]:
mf_name=all_mf[0]["schemeName"]

In [12]:
len(all_mf)

46477

In [13]:
sample_data = rq.get("https://api.mfapi.in/mf/100027").json()

In [14]:
sample_data.keys()

dict_keys(['meta', 'data', 'status'])

In [15]:
#sample_data["data"]

In [16]:
pd.DataFrame(sample_data["data"])

           date       nav
0    29-05-2008  10.72050
1    28-05-2008  10.72500
2    27-05-2008  10.72160
3    26-05-2008  10.72060
4    23-05-2008  10.71520
..          ...       ...
526  10-04-2006  10.09060
527  07-04-2006  10.08560
528  05-04-2006  10.08360
529  04-04-2006  10.07960
530  03-04-2006  10.07740

[531 rows x 2 columns]

In [4]:
#pd.DataFrame(sample_data["data"]).to_csv(f"./Api_Scrapping/{mf_name}.csv",index=False)

In [23]:
#for mf_loop in tqdm(all_mf) :
   # mf_code = mf_loop["schemeCode"]
    #mf_name = mf_loop["schemeName"]
   # sample_data = rq.get(f"https://api.mfapi.in/mf/{mf_code}").json()
    #pd.DataFrame(sample_data["data"]).to_csv(f"./Api_Scrapping/{mf_code}.csv" , index = False)

In [3]:
# pd.DataFrame(all_mf).to_csv("./Api_Scrapping/all_data_codes.csv" , index = False)