Task :- Perform the Data reduction operation on given dataset

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [2]:
Data = pd.read_csv(r'C:\Users\ayush\OneDrive\Desktop\jupyter notebook\pandas\covid\key-countries-pivoted.csv')
del Data['Date']

In [3]:
Data.head()

   China  US  United_Kingdom  Italy  France  Germany  Spain  Iran
0    548   1               0      0       0        0      0     0
1    643   1               0      0       0        0      0     0
2    920   2               0      0       2        0      0     0
3   1406   2               0      0       3        0      0     0
4   2075   5               0      0       3        0      0     0

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   China           816 non-null    int64
 1   US              816 non-null    int64
 2   United_Kingdom  816 non-null    int64
 3   Italy           816 non-null    int64
 4   France          816 non-null    int64
 5   Germany         816 non-null    int64
 6   Spain           816 non-null    int64
 7   Iran            816 non-null    int64
dtypes: int64(8)
memory usage: 51.1 KB

In [5]:
x = Data.iloc[ : , : -1].values
y = Data.iloc[ : , -1].values

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [7]:
x_train.shape

(652, 7)

In [8]:
x_test.shape

(164, 7)

In [9]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [10]:
pca = PCA(n_components = 3)
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)

In [11]:
x_train.shape

(652, 3)

In [12]:
x_test.shape

(164, 3)