In [2]:
import pandas as pd

In [8]:
countries=pd.read_csv("covid/countries-aggregated.csv")

In [10]:
countries.tail()

              Date   Country  Confirmed  Recovered  Deaths
161563  2022-04-12  Zimbabwe     247094          0    5460
161564  2022-04-13  Zimbabwe     247160          0    5460
161565  2022-04-14  Zimbabwe     247208          0    5462
161566  2022-04-15  Zimbabwe     247237          0    5462
161567  2022-04-16  Zimbabwe     247237          0    5462

In [11]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [14]:
countries["Date"]=pd.to_datetime(countries["Date"])

In [15]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  datetime64[ns]
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ MB

In [16]:
countries["Date"].nunique()

816

In [17]:
countries["Country"].nunique()

198