In [1]:
import pandas as pd

In [3]:
countries=pd.read_csv("covid/countries-aggregated.csv")

In [4]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [5]:
countries["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
161563       Zimbabwe
161564       Zimbabwe
161565       Zimbabwe
161566       Zimbabwe
161567       Zimbabwe
Name: Country, Length: 161568, dtype: object

In [6]:
countries["Country"]=="India"

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Name: Country, Length: 161568, dtype: bool

In [7]:
countries["Date"]=="2021-06-22"

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Name: Date, Length: 161568, dtype: bool

In [10]:
mask = (countries["Country"]=="India") & (countries["Date"]=="2021-06-22")

In [11]:
mask

0         False
1         False
2         False
3         False
4         False
          ...
161563    False
161564    False
161565    False
161566    False
161567    False
Length: 161568, dtype: bool

In [12]:
countries[mask]

             Date Country  Confirmed  Recovered  Deaths
65797  2021-06-22   India   30028709   28994855  390660

In [14]:
countries.query("Country == 'India'")

             Date Country  Confirmed  Recovered  Deaths
65280  2020-01-22   India          0          0       0
65281  2020-01-23   India          0          0       0
65282  2020-01-24   India          0          0       0
65283  2020-01-25   India          0          0       0
65284  2020-01-26   India          0          0       0
...           ...     ...        ...        ...     ...
66091  2022-04-12   India   43038016          0  521736
66092  2022-04-13   India   43039023          0  521737
66093  2022-04-14   India   43039972          0  521743
66094  2022-04-15   India   43040947          0  521747
66095  2022-04-16   India   43042097          0  521751

[816 rows x 5 columns]

In [16]:
countries.query("(Country == 'India') & (Date == '2022-04-15')")

             Date Country  Confirmed  Recovered  Deaths
66094  2022-04-15   India   43040947          0  521747

In [17]:
countries.loc[66093]

Date         2022-04-14
Country           India
Confirmed      43039972
Recovered             0
Deaths           521743
Name: 66093, dtype: object

In [18]:
type(countries.loc[66093])

pandas.core.series.Series

In [24]:
new_country = countries.set_index("Country")

In [26]:
new_country

                   Date  Confirmed  Recovered  Deaths
Country
Afghanistan  2020-01-22          0          0       0
Afghanistan  2020-01-23          0          0       0
Afghanistan  2020-01-24          0          0       0
Afghanistan  2020-01-25          0          0       0
Afghanistan  2020-01-26          0          0       0
...                 ...        ...        ...     ...
Zimbabwe     2022-04-12     247094          0    5460
Zimbabwe     2022-04-13     247160          0    5460
Zimbabwe     2022-04-14     247208          0    5462
Zimbabwe     2022-04-15     247237          0    5462
Zimbabwe     2022-04-16     247237          0    5462

[161568 rows x 4 columns]

In [29]:
# new_country.loc[5] now not applicable
# new_country["Country"] also not applicable

In [28]:
new_country.loc["India"]

               Date  Confirmed  Recovered  Deaths
Country
India    2020-01-22          0          0       0
India    2020-01-23          0          0       0
India    2020-01-24          0          0       0
India    2020-01-25          0          0       0
India    2020-01-26          0          0       0
...             ...        ...        ...     ...
India    2022-04-12   43038016          0  521736
India    2022-04-13   43039023          0  521737
India    2022-04-14   43039972          0  521743
India    2022-04-15   43040947          0  521747
India    2022-04-16   43042097          0  521751

[816 rows x 4 columns]

In [30]:
new_country.reset_index()

            Country        Date  Confirmed  Recovered  Deaths
0       Afghanistan  2020-01-22          0          0       0
1       Afghanistan  2020-01-23          0          0       0
2       Afghanistan  2020-01-24          0          0       0
3       Afghanistan  2020-01-25          0          0       0
4       Afghanistan  2020-01-26          0          0       0
...             ...         ...        ...        ...     ...
161563     Zimbabwe  2022-04-12     247094          0    5460
161564     Zimbabwe  2022-04-13     247160          0    5460
161565     Zimbabwe  2022-04-14     247208          0    5462
161566     Zimbabwe  2022-04-15     247237          0    5462
161567     Zimbabwe  2022-04-16     247237          0    5462

[161568 rows x 5 columns]

In [32]:
new_country.iloc[66093]

Date         2022-04-14
Confirmed      43039972
Recovered             0
Deaths           521743
Name: India, dtype: object

In [33]:
country_india = countries.query("(Country == 'India')")

In [34]:
country_india

             Date Country  Confirmed  Recovered  Deaths
65280  2020-01-22   India          0          0       0
65281  2020-01-23   India          0          0       0
65282  2020-01-24   India          0          0       0
65283  2020-01-25   India          0          0       0
65284  2020-01-26   India          0          0       0
...           ...     ...        ...        ...     ...
66091  2022-04-12   India   43038016          0  521736
66092  2022-04-13   India   43039023          0  521737
66093  2022-04-14   India   43039972          0  521743
66094  2022-04-15   India   43040947          0  521747
66095  2022-04-16   India   43042097          0  521751

[816 rows x 5 columns]

In [35]:
country_india.loc[66095]

Date         2022-04-16
Country           India
Confirmed      43042097
Recovered             0
Deaths           521751
Name: 66095, dtype: object

In [36]:
country_india.iloc[0]

Date         2020-01-22
Country           India
Confirmed             0
Recovered             0
Deaths                0
Name: 65280, dtype: object

In [37]:
# country_india.iloc[66095] and country_india.loc[0] is not applicable